<div class="container">
  <div class="row mt-4">
    <div class="col text-center">
      <span class="button" (click)="lifecycle()">Lifecycle</span>
      <span class="button" (click)="lifecycle(container)">Lifecycle Container</span>
      <span class="button" (click)="show()">Block Window</span>
      <span class="button" (click)="show(container)">Block Container</span>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col" style="height: 400px; border: 1px solid #607D8B;" #container></div>
  </div>
</div>
